.inline-block{
  display:inline-block;
}
.text-center{
  text-align:center;
}
.text-moved{
  margin-left: 32px;
  display: block;
}
.page-wrapper{
  border-top: 4px solid #BE0411;
  padding:0;
}
.banner{
  width:100%;
}
.header-wrapper{
   padding: 20px 6% 0;
   & >.container {
    display: inline-block;
    vertical-align: top;
    &>p{
      font-size: 44px;
      color: rgb(103, 103, 103);
      transform: rotate(-2deg);
    }
    &>nav{
      font-family: "open_sansbold";
      margin-top: 2.75rem;
      font-size: 1.1rem;
      text-align: center;
      color:#666666;
      line-height: 1;
      li{
        padding: 0px 1.5%;
        &.active{
          color:#AF3233;
        }
      }
      li:not(:last-child) { border-right: 2px solid #666666; }
    }
  }
}
.brand{
  background-image: url("../images/logo.png");
  display: inline-block;
  width: 350px;
  height: 218px;
  margin-right: 30px;
}
  .striscia::after {
    content:'';

    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    display:block;
    height:117px;
  }
.striscia1::after {
    background-image: url("../images/striscia1.png");
    margin-top: -45px;
}
.striscia2::after {
    background-image: url("../images/striscia-2.png");
    margin-top: -91px;
}
.forma::after {
    background-image: url("../images/forma.png");
    margin-top: -72px;
    z-index: 11;
    height: 86px;
    position:relative;
}
.radio-show{
  margin-bottom: 10px;
  &>div{vertical-align: top;margin-top: 40px;
  }
  .img-container{margin-top: -76px;}
  .left>img{ display:block; margin:0 auto}
  .left>.kisskiss{margin: 20px auto;max-width:45%;}
  p{
    font-size: 1.3rem;
    line-height: 1;
    color: rgb(102, 102, 102);
  }
}

.chi-siamo{
background-image: url("../images/chisi.png");
background-size: 100% auto;
background-repeat: no-repeat;
width: 100%;
min-height: 464px;
position: relative;
}
.servizi{
  display: inline-block;
  margin-top: -56px;
  color:#fff;
  & h3{
    font-family: "open_sansbold";
  }
}
.servizio{
  padding:0 2%;
}
.allestimenti{
  background-color: #A4C51A;
  margin-top: -4px;
  padding-top: 100px;
  padding-bottom: 32px;
}
 .servizio-desc,.servizio-more{
    font-size: 0.85rem;
  }

 .servizio-desc{
    padding-top: 5px;
  }
  .servizio-more{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
.adulti{
    background-color: #0095D7;
    margin-top: 18px;
    padding-top: 90px;
    vertical-align: top;
    z-index: -1;
    position: relative;
    padding-bottom: 31px;
  .servizio-desc{
    margin-top: 76px;
  }
  &>img{
    position: absolute;
    top: 28%;
    right: 20px;
  }
}
.lista-adulti {
  margin-left: 1rem;
  &>li{
  text-transform: uppercase;
  font-family: "open_sansbold";
  font-size: 1.1rem;
  }
}
.bambini{
background-color: #0073B1;
padding-top: 78px;
vertical-align: top;
margin-top: 17px;
&>img{
  margin-top: 66px;
}
}
.trasmissioni{
  text-align: center;
  background-color: #E5006C;
  padding-bottom:40px;
  color:#fff;
  &>h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
.lista-trasmissioni>img{
  margin: 0px 40px;
}
.artisti{
  background-color: rgb(70, 173, 192);
padding: 3%;
}
.lista-artisti>div{
  margin-bottom: 10px;
}
.eventi{
  padding: 5% 7.5%;
  background-color: #D7E57F;
  position: relative;
  .section-title{
    font-size: 3.3rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 18%;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
    padding: 2%;
  }
}
.evento{
  margin-top: 20px;
  &>.media__img{
    margin-right: 0;
  }
  &>.media__body{
    padding: 0px 15% 0px 5%;
    &>h4{
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
    }
    &>p{
      font-size: 0.7rem;
      text-align: justify;
      word-wrap: break-word;
    }
  }
}
.contatti{
  padding: 0 2% 2%;

.info,.form{
  border-right: 2px solid rgb(200, 200, 200);
}
}
.contatti-wrapper{
 border-top: 2px solid rgb(200, 200, 200);
 padding-top:2%
}
.logo{
background-image: url("../images/logo.png");
background-size: contain;
background-repeat: no-repeat;
height: 80px;
}
