.inline-block{
  display:inline-block;
}
.text-center{
  text-align:center;
}
.text-moved{
  margin-left: 8.65%; /* !!!!!!!!!!!!! */
  display: block;
}
.page-wrapper{
  border-top: 4px solid #BE0411;
  padding:0;
}
.banner{
  width:100%;
}
.header-wrapper{
   padding: 20px 6% 0; /* !!!!!!!!!!!!! */
   & >.container {
    margin: 0px auto;
    vertical-align: top;
    display:inline-block;
    &>p{
      @include inuit-font-size(27px); /* !!!!!!!!!!!!! */
      @include media-query('lap-and-up'){
        @include inuit-font-size(44px); /* !!!!!!!!!!!!! */
      }
      color: rgb(103, 103, 103);
      transform: rotate(-2deg);
      text-align: center;
      @include media-query('palm'){margin:0;}
    }
    &>nav{
      font-family: "open_sansbold";
      margin-top: 2.75rem;
      font-size: 1.1rem;
      text-align: center;
      color:#666666;
      line-height: 1;
      display:none;
      @include media-query('lap-and-up'){
        display:block;
      }
      li{
        padding: 0px 1.5%;
        &.active{
          color:#AF3233;
        }
      }
      li:not(:last-child) { border-right: 2px solid #666666; }
    }
  }
}
.brand{
  background-image: url("../images/logo.png");
  display: inline-block;
  height: 160px;
  max-width: 100%;
  min-width: 350px;
  background-size: contain;
  background-repeat: no-repeat;

   @include media-query('lap-and-up'){margin-right: 30px;
    height: 218px;
   } /* !!!!!!!!!!!!! */
}
  .striscia::after {
    content:'';

    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    display:block;
    height: 30px;
    @include media-query('lap-and-up'){ height:117px; /* !!!!!!!!!!!!! */ }

  }
.striscia1::after {
    background-image: url("../images/striscia-2.png");
    @include media-query('lap-and-up'){ margin-top: -45px; }/* !!!!!!!!!!!!! */
}
.striscia2::after {
    background-image: url("../images/striscia1.png");
    margin-top: -50px;
   @include media-query('lap-and-up'){ margin-top: -91px; /* !!!!!!!!!!!!! */}
}
.forma::after {
    background-image: url("../images/forma.png");
    margin-top: -27px; /* !!!!!!!!!!!!! */
    @include media-query('lap-and-up'){
    margin-top: -74px; /* !!!!!!!!!!!!! */
    height: 86px; /* !!!!!!!!!!!!! */
    }
    z-index: 11;

    position:relative;
}
.radio-show{
  margin-bottom: 2rem; /* !!!!!!!!!!!!! */
  @include media-query('lap-and-up'){ margin-bottom: 10px; /* !!!!!!!!!!!!! */}
  &>div{vertical-align: baseline;margin-top: 40px; /* !!!!!!!!!!!!! */
    @include media-query(lap-and-up){
      display:inline-block;
    }
  }
  .img-container{
    margin-top: 0px;
    &>img{
    padding: 0px 6%;
    }
    @include media-query(lap-and-up){
      margin-top: -76px;
      padding: 0px 0 0 4%;
      &>img{
        padding: 0;
        width: 66%;
        display: block;
        margin: 0px auto;
      }
    }
  } /* !!!!!!!!!!!!! */
  .left>img{ display:block; margin:0 auto}
  .left>.kisskiss{margin: 20px auto;max-width:45%;} /* !!!!!!!!!!!!! */
  p{
    @include font-size(13px);
    color: rgb(102, 102, 102);
    padding: 0px 6%;
        @include media-query(lap-and-up){
              @include font-size(16px);
    line-height: 1;
     padding:0;
    }
  }
}

.chi-siamo{
position: relative;
z-index: 21;
width: 100%;
overflow: hidden;
@include font-size(14px);
@include media-query(lap-and-up){
  @include font-size(16px);
}
p{padding-top: 15px;}
 &>div{
  vertical-align: top;
  @include media-query(palm){padding:0 2%;}
  @include media-query(lap-and-up){display:inline-block;}
 }

 & img{ max-width:200%}

}
.servizi{
  display: inline-block;
  max-width: 100%;
  color:#fff;
  @include media-query(lap-and-up){margin-top: -46px;} /* !!!!!!!!!!!!! */
  & h3{
    font-family: "open_sansbold";
  }
}
.servizio{
  padding:20px 3%;
  max-width: 100%;
  @include font-size(13px);
  @include media-query(lap-and-up){
    padding:20px 2% 0;
    font-size:1em;
    line-height: 1.5;
  }
  @include media-query(palm){
    & h3 {
      @include font-size(20px);
    }
  }
}
@include media-query(lap-and-up){
  .servizio-desc, .servizio-more {
      @include font-size(12px,1.5);
      font-weight: 600,
  }
}
.allestimenti{
  background-color:#A4C51A;
      @include media-query(lap-and-up){margin-top: -20px; /* !!!!!!!!!!!!! */
  padding-top: 98px; /* !!!!!!!!!!!!! */
  padding-bottom: 32px; /* !!!!!!!!!!!!! */
  }
}


 .servizio-desc{
  margin-top: 0.5rem; /* !!!!!!!!!!!!! */
    margin-bottom: 1rem;

  }
  .servizio-more{
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 21;
    position:relative;
  }
.adulti{
    background-color: #0095D7;
    vertical-align: top;

    position: relative;
  @include media-query(lap-and-up){
    padding-bottom: 31px; /* !!!!!!!!!!!!! */
    padding-top: 90px; /* !!!!!!!!!!!!! */
    &>h3{margin-bottom:36px;}
    .servizio-desc{
      margin-top: 23.3%; /* !!!!!!!!!!!!! */
    }
    &>div>img{
      position: absolute;
      top: 30%;
      right: 20px; /* !!!!!!!!!!!!! */
    }
  }
}
.lista-adulti {

  margin-left: 1rem;
  @include media-query(palm){display:inline-block;}
  width:100%;
  &>li{
  text-transform: uppercase;
  font-family: "open_sansbold";
  @include font-size(17px);
  @include media-query(lap-and-up){
    font-size: 1.1rem;


  }
  }

}
.bambini{
background-color: #0073B1;

vertical-align: top;
@include media-query(palm){
padding-bottom: 0;
}
@include media-query(lap-and-up){
padding-top: 78px; /* !!!!!!!!!!!!! */
&>img{
  max-width: 107%;
}
}
}
.trasmissioni{
  position:relative;
  z-index: 21;
  text-align: center;
  background-color: #E5006C;
  margin-top:-10px;
  padding: 20px 0;
  color:#fff;

  &>h3{
    @include font-size(40px);
    font-weight: 400;
    margin-bottom: 2rem;
    @include media-query(lap-and-up){
        @include font-size(54px);
    }
  }
}

.lista-trasmissioni>img{
  margin-bottom: 20px;
  @include media-query(lap-and-up){
    margin: 0px 40px; /* !!!!!!!!!!!!! */
  }
}
.artisti{
  background-color: rgb(70, 173, 192);
padding: 12% 3% 15%;
@include media-query(lap-and-up){
  padding:3% 3% 5%;
}
}
.artisti-wrapper{
  overflow:hidden;
  position:relative;
  @media(min-width: 1010px){
      &>.swiper-button-prev,&>.swiper-button-next{
        display:none;
      }
  }
}
.lista-artisti{
   @media (min-width: 1010px ){
    display:inline-block;
    text-align: center;
  }
  &>div{
  margin-bottom: 10px; /* !!!!!!!!!!!!! */
  display:inline-block;
  text-align: center;
  @media (max-width: 1010px ) and ( min-width:702px){
    width:50%;
  }

  &>img{
    margin: 0 auto;
    display: block;
  }
  }
}
.eventi{
  padding: 12% 7.5% 5%;
  @include media-query(lap-and-up){
  padding: 5% 7.5%;
  }
  background-color: #D7E57F;
  position: relative;
  .section-title{

    @include font-size(54.4px);
    @include font-size(34px);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
    padding: 5% 12%;
    @include media-query(lap-and-up){
      padding: 1% 3%;
    }
  }
}
.eventi-wrapper{
  overflow:hidden;
}
.evento{
  padding: 4%;
  box-sizing: border-box;
  color:rgb(46, 46, 49);
  margin-top: 20px; /* !!!!!!!!!!!!! */
  text-align: center;
  &>.media__img{
    margin-right: 4%;
    @include media-query(palm){
      float:none;
    }
  }
  &>.media__body{
    //padding: 0px 5%;
    //@include media-query(lap-and-up){
      //padding: 0px 15% 0px 5%;
    //}
    &>h4{
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
    }
    &>p{
      font-size: 0.7rem;
      text-align: justify;
      word-wrap: break-word;
    }
  }
}
.contatti{
  padding: 0 2% 2%;
  text-align: center;
.logo{margin: 0 auto 1.5rem ;width:100%;}
.info,.form{padding: 0 2%;}
 @include media-query(lap-and-up){
  .form{
    border-right: 2px solid rgb(200, 200, 200);
    border-left: 2px solid rgb(200, 200, 200);
  }
}
}
.contatti-wrapper{
 border-top: 2px solid rgb(200, 200, 200);
 padding-top:5%;
 position:relative;

 &>div{
  width:100%;
  vertical-align: middle;
 }
 .info,.fb{
align-self: center;
display: flex;
flex-direction: column;
justify-content: center;
 }
  @include media-query(lap-and-up){
     display:flex;
    padding-top:2%;
    &>div{
      display:inline-block;
      width:33%;
    }
 }
}
.fb{    padding: 0px 2%;
* {
   width: 100% !important;
}
}

.logo{
background-image: url("../images/logo.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
height: 80px; /* !!!!!!!!!!!!! */
}
.wpcf7-form-control {
    max-width: 100% !important;
}
.mfp-content{
  background-color: rgb(255, 255, 255);
  max-width: 1000px;
  padding: 3%;
}
.artista-single{
  &>h3{text-align: center;}
  &>.img-cont{
    display: inline-block;
    margin-right: 1.5rem;
     vertical-align: middle;
     margin-bottom: 1.5rem;
  }
  &>.content{
    max-width: 60%;
    display: inline-block;
    vertical-align: middle;
  }
  @media(max-width: 682px){
     &>.img-cont{

display:block;
&>img{
  display:block;
  margin:0 auto;
}
  }
  &>.content{
    max-width: 100%;
  }
  }
}
